{{#if wonGame}}
	Game won!
{{/if}}

{{#if gameOver}}
	Game over!!
	<button {{action "resetGame" on="click"}}>
		Reset
	</button>
{{/if}}

{{#each board.rows}}
	<div class="row">
		{{#each mines}}
			{{view 'sweeper-mine' mine=this}}
		{{/each}}
	</div>
{{/each}}
