<style>
	button {
		width: 25px;
		height: 25px;
		margin: 5px;
	}
</style>

{{#each bombs}}
	<div class="row">
		{{#each this}}
			{{sweeper-mine contentBinding="this"}}
		{{/each}}
	</div>
{{/each}}
